<% include partials/header %>
<!-- Main -->
<div class="dashboard container flex justify-between align-start">
  <aside class="flex-24">
    <div
      style="border-top: 2px solid rgb(11, 11, 41)"
      class="flex justify-between align-center"
    >
      <i class="far fa-arrow-alt-circle-left"></i
      ><i class="far fa-arrow-alt-circle-right"></i>
    </div>
    <div>
      <h2>Filter By Date</h2>
      <form action="">
        <input type="Date" />
        <input type="Date" />
        <input type="Submit" value="Find" />
      </form>
    </div>
    <div>
      <h2>Filter By Income Category</h2>
      <form action="">
        <select name="" id="">
          <option value="select">Select Option 1</option>
          <option value="select">Select Option 2</option>
        </select>
        <input type="Submit" value="Find" />
      </form>
    </div>
    <div>
      <h2>Filter By Expanse Category</h2>
      <form action="">
        <select name="" id="">
          <option value="select">Select Option 1</option>
          <option value="select">Select Option 2</option>
        </select>
        <input type="Submit" value="Find" />
      </form>
    </div>
    <div>
      <h2>Filter By Date And Category</h2>
      <form action="">
        <input type="Date" />
        <input type="Date" />
        <select name="" id="">
          <option value="select">Select Option 1</option>
          <option value="select">Select Option 2</option>
        </select>
        <input type="Submit" value="Find" />
      </form>
    </div>
  </aside>

  <main class="flex-75"></main>
</div>

<% include partials/footer %>
