<% include partials/header %>
<!-- Main -->
<main class="signup container flex justify-start align-center flex-column">
  <h1>Add Expanse</h1>

  <form action="/users/addExpanse/new" , method="POST">
    <input type="text" name="expanse" placeholder="Expanse..." />
    <input type="number" name="expanseAmount" placeholder="Amount..." />
    <input onfocus="(this.type='date')" placeholder="Date..." />
    <input
      style="color: white"
      class="btn btn-secondary height"
      type="submit"
      value="Add Expanse"
    />
  </form>
</main>

<% include partials/footer %>
