<% include partials/header %>
<!-- Main -->
<main class="signup container flex justify-start align-center flex-column">
  <h1>Add Income</h1>

  <form action="/income/addIncome" , method="POST">
    <input type="text" name="source" placeholder="Income Source..." />
    <input type="number" name="incomeAmount" placeholder="Amount..." />
    <input name="date" onfocus="(this.type='date')" placeholder="Date..." />
    <input
      style="color: white"
      class="btn btn-secondary height"
      type="submit"
      value="Add Income"
    />
  </form>
</main>

<% include partials/footer %>
